@import "./utils/libs";
@import "./utils/fonts";
@import "./utils/vars";
@import "./global/global";
@import "./global/animation";

h1 {
	display: flex;
	color: blue;
	font-family: "Master";
	span {
		color: red;
	}
}

.wrapper {
	background-image: url(../assets/img/test.png);
	background-size: cover;
}
img {
	width: 300px;
	height: 300px;
}
@import "./global/media";
