@import "./utils/libs";
@import "./utils/fonts";
@import "./utils/vars";
@import "./global/global";
@import "./global/animation";

h1 {
	display: flex;
	color: blue;
	font-family: "Master";
	justify-content: center;
}

h2 {
	font-family: "Master";
	text-align: center;
}

img {
	width: 300px;
	height: 300px;
}
@import "./global/media";
